// html, body {
//     height: 100%;
// }

// body {
//     display: flex;
//     flex-direction: column;
// }

// .content {
//     flex: 1 0 auto;
// }

.form-content {
    background-color: $charcoal;
    min-height: 70rem;
}

.contactform {
    flex: 1 0 auto;
    color: $grey;
    font-family: $poppins;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.075rem;
}

form {
    top: 57%;
    left: 50%;
    width: 100%;
    position: absolute;
    border-radius: 0.625rem;
    background-color: transparent;

    transform: translate(-50%, -50%);
    padding: 3rem;
}

h3 {
    margin-bottom: 1.75rem;
}

h6.contact-header {
    margin: 3.5rem auto 1rem auto;
    font: inherit;
    text-transform: uppercase;
}

.contact-header#contact-info {
    margin-top: 2.625rem;
}

a.submit,
a.home {
    display: block;
    margin-left: 10%;
    text-align: center;
    font: inherit;
    color: inherit;
    text-decoration: none;
    padding: 0.675rem;
    box-shadow: -5px -5px 9px rgba(89, 89, 89, 0.35),
    9px 9px 15px rgba(38, 38, 38, 0.7);
}

a.home {
    position: absolute;
    right: 0;
    width: 4rem;
    height: 4rem;
    font-size: 0.7rem;
    border-radius: 1.875rem;
    margin-bottom: 2rem;
    padding-top: 1.38rem;
    padding-left: 0.8rem;
}

a.submit {
    border-radius: 0.85rem;
    width: 80%;
    color: $lightishGrey;
    margin-top: 1.3rem;
    margin-bottom: 1.75rem;
    background-image: linear-gradient(to right, $reallyDkPurple, $dbDkPurple);
}

input[type="text"],
input[type="textarea"],
input[type="email"] {
    margin-bottom: 1.5625rem;
    border: none;
    color: $lightGrey;
    background-color: transparent;
    box-shadow: inset -4px -4px 9px rgba(97, 97, 97, 0.35),
    8px 8px 12px rgba(53, 53, 53, 0.7);
    padding: .75rem 0.625rem;
    width: 90%;
    border-radius: 0.4375rem;
    outline: none;
}

input.half-width {
    width: 37%;
    margin-right: 2rem;
}

input.tqtr-width {
    width: 44%;
}

input[type="textarea"] {
    height: 10rem;
    width: 84.15%;
}

::placeholder {
    font-size: 0.75rem;
    font-weight: 500;
    color: $grey;
    letter-spacing: 0.08125rem;
}

input[type="radio"] {
-webkit-appearance: none;
-moz-appearance: none;
    appearance: none;
    position: relative;
    height: 2.5rem;
    width: 7.5rem;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55),
        10px 10px 15px rgba(70, 70, 70, 0.12);
    border: 5px solid $lightGrey;
    border-radius: 1.875rem;
    font: inherit;
    outline: none;
    cursor: pointer;
}

input[type="radio"]:after {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: $midGrey;
    letter-spacing: 0.03125rem;
}

#phone:after {
    content: "Phone";
}

#email:after {
    content: "Email";
}

input[type="radio"]:checked,
a.submit:active {
    box-shadow: inset -10px -10px 15px rgba(89, 89, 89, 0.35),
        inset 10px 10px 15px rgba(53, 53, 53, 0.7);
}

input[type="radio"]:checked:after {
    color: $deepPink;
}

.footer {
    flex-shrink: 0;
}