.content {
  background-color: $slate;
  color: $grey;

  &__grid {
    display: grid;
    // auto-fit decides how many columns to use for you
    //    (number of items on each row may look uneven)
    // minmax controls width / columns per row for you
    // grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));

    // 1fr stands for 1 fractional unit
    grid-template-columns: 1fr;
    gap: 1.875rem;

    @include breakpoint-up(medium) {
      // keyboard shortcut is gtc for this
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__about, &__card {
    flex-direction: column;
    width: 87%;;

    @include breakpoint-up(large) {
      flex-direction: row;
    }
  }
  
  &__item {
    margin: 6rem auto 0 auto;
  }
  
  &__card {
    padding: 1rem 2rem 2rem 2rem;
    box-shadow: -7px -7px 11px rgba(89, 89, 89, 0.35),
      12px 12px 18px rgba(53, 53, 53, 0.7);
    border-radius: 0.75rem;
    overflow: hidden;
  }

  &__social-icons {
    margin: 6rem 0 0 0;
  }

  &__social {
    margin-top: 3rem;
    
    span.content__social-link {
      display: inline-block;
      padding: 3.75rem 2rem 2.5rem 2rem;
    }  
    
    &__icon {
      padding: 0.25rem;
    }

    &__link {
      color: $dbDkPurple;
      transition: font-size 150ms ease-in-out;
      
      &:hover {
        font-size: 1.055rem;
      }
    }
  }

}

.kb {
  background-color: $charcoal;
  min-height: 35rem;
  align-items: center;
  padding-bottom: 2rem;
  flex-direction: column;

  @include breakpoint-up(large) {
    flex-direction: row;
  }

  &__flex-child {
    width: 50%;
    margin: 0 0.5rem;
  }
  
  &__builds {
    font-weight: bold;
  }
  
  &__container {
    text-align: left;
  }
}


