.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $blueCharcoal;
  color: white;
  min-height: 3rem;
}

.social {
  display: flex;
  justify-content: center;
  padding-left: 1.2rem;

  img {
    width: 1.55rem;
  }
}

img,
svg {
  margin-right: 0.95rem;
  transition: transform 250ms ease-in-out;

  &:hover {
    transform: scale(1.15);
  }
}
