html, body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

html {
  font-size: 1.35rem;
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
  
body {
  display: flex;
  flex-direction: column;
  background-color: $lightGrey;
  text-align: center;
  font-family: "Open Sans";
}
.container {
  max-width: 68rem;
  margin: 0 auto;
}

.content {
  flex: 1 0 auto;
}

h1,
h2,
h3 {
  color: $grey;
}

// .heading {
//   background-color: black;
//   border: 1px solid red;
// }


hr {
  width: 100%;
  margin: 2rem;
}

p {
  color: $grey;
  line-height: 1.5;
  padding: 0.5rem 1rem;
}

a,
a:visited,
a:hover {
  font-weight: normal;
  text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.border {
  border: 1px solid red;
}

.bold {
  font-weight: bold;
}

.left-align {
  text-align: left;
}

// Padding
.pall {
  padding-top: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-jc-fs {
    justify-content: flex-start;
  }

  &-jc-e {
    justify-content: end;
  }
}

