html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $lightGrey;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  font-family: "Open Sans";
}

h1,
h2,
h3 {
  color: $midGrey;
}

p {
  color: $midGrey;
  line-height: 1.5;
  padding: 1rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 68rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

// Padding
.pall {
  padding-top: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-jc-fs {
    justify-content: flex-start;
  }

  &-jc-e {
    justify-content: end;
  }
}
