.header {
  display: flex;
  background-color: $blueCharcoal;
  height: 5rem;

  &__text {
    order: 1;
    flex: 1;
    margin-left: 0;
    font-weight: 400;
    font-size: 2rem;
    color: $white;
    font-family: $old-english;
    letter-spacing: 0.25rem;
    transition: font-size 150ms ease-in-out;
      
      &:hover {
        font-size: 2.1rem;
      }
  }

  a {
    order: 2;
  }

  &__img {
    padding: 0.95rem 0.75rem 0.75rem 0.75rem;
    max-width: 5.15rem;
    max-height: 5.15rem;
    border-radius: 6.25rem;
    transition: transform 200ms ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.15);
    }
  }

  &__nav {
    order: 3;
    flex: 1;
    font-size: 1.08rem;

    a {
      color: $white;
      transition: font-size 175ms ease-in-out;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      &:hover {
        color: $lightPink;
        border-bottom: $lightPink;
        font-size: 1.15rem;
      }
    }
  }
}

h3.intro {
  padding: 4rem;
  width: 50rem;
  margin: 0 auto;
}

.flex-child {
  //   border: 1px solid red;
  max-width: 18rem;
}
