.header { 
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  height: 5rem;
  text-align: left;
  background-color: $slate;
  border-bottom: 1px solid $charcoal2;

  &__text {
    flex: 1;
    margin: 0.17rem 0 0 2rem;

    letter-spacing: 0.25rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: $old-english;
    color: $grey;
    transition: font-size 300ms ease-in-out;
      
    &:hover {
      font-size: 2.1rem;
      color: $dbDkPurple;
    }
  }

  &__img {
    padding: 0.95rem 0.75rem 0.75rem 0.75rem;
    border-radius: 6.25rem;
    width: 5rem;
    cursor: pointer;
    transition: transform 300ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__nav {
    flex: 1;
    font-size: 1.08rem;
    margin-right: 1.25rem;

    &__link {
      color: $lightGrey;
      transition: font-size 175ms ease-in-out;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      &:hover {
        color: $dbDkPurple;
        border-bottom: $dbDkPurple;
        font-size: 1.15rem;
      }
    }
  }
}

h3.intro {
  border: 1px solid red;
  padding: 1.8rem;
  margin: 0 auto;
  height: 12rem;
}
