// Colors
$dbLtPurple: #e9c8ff;
$dbDkPurple: #bb80e2;
$reallyDkPurple: #66318a;
$darkTeal: rgba(0, 128, 128, 0.2);
$lightTeal: rgba(112, 128, 144, 0.2);
$reallyDarkTeal: rgba(0, 128, 128, 0.6);
$evenDarkerTeal: rgba(112, 128, 144, 1);
$white: #ffffff;
$lightPink: lightpink;
$charcoal: #333333;
$charcoal2: rgba(51,51,51,0.25);
$blueCharcoal: #36454f;
$slate: #3d3d3d;
$slideshowGrey: #717171;
$slideshowBg: #BBB;

// Fonts
$old-english: 'UnifrakturMaguntia';
$poppins: 'Poppins', sans-serif;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 1.5rem; // 24px

// Contact Form Colors
$lightGrey: #ececec;
$lightishGrey: #e4e4e4;
$midGrey: #606060;
$grey: #ababab;
$darkGrey: #202035;
$mintGreen: #15e38a;
$deepPink: #ff1493;
