html, body {
  height: 100%;
}

// *,
// *:before,
// *:after {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

body {
  display: flex;
  flex-direction: column;
}

.build-service-description {
  margin-top: 12rem;
  margin-left: 4rem;
  padding: 10%;
  overflow: hidden;
  padding: 3%;
  width: 38rem;
}

.FAQ {
  margin-top: 10rem;
  margin-left: 45rem;
  padding: 10%;
  overflow: hidden;
  padding: 3%;
  width: 40rem;
}

