html, body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

html {
  font-size: 1.35rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ececec;
  text-align: center;
  font-family: "Open Sans";
}

.container {
  max-width: 68rem;
  margin: 0 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

h1,
h2,
h3 {
  color: #ababab;
}

hr {
  width: 100%;
  margin: 2rem;
}

p {
  color: #ababab;
  line-height: 1.5;
  padding: 0.5rem 1rem;
}

a,
a:visited,
a:hover {
  font-weight: normal;
  text-decoration: none;
}

.btn {
  display: block;
  margin: 1.3rem auto 1.75rem 0;
  padding: 0.675rem;
  text-align: center;
  font: inherit;
  color: #e4e4e4;
  border-radius: 0.85rem;
  -webkit-box-shadow: -5px -5px 9px rgba(89, 89, 89, 0.35), 9px 9px 15px rgba(38, 38, 38, 0.7);
          box-shadow: -5px -5px 9px rgba(89, 89, 89, 0.35), 9px 9px 15px rgba(38, 38, 38, 0.7);
  background-image: -webkit-gradient(linear, left top, right top, from(#66318a), to(#bb80e2));
  background-image: linear-gradient(to right, #66318a, #bb80e2);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.border {
  border: 1px solid red;
}

.bold {
  font-weight: bold;
}

.left-align {
  text-align: left;
}

.pall {
  padding-top: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-jc-e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header {
  border-bottom: 1px solid rgba(51, 51, 51, 0.25);
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  height: 5rem;
  background-color: #3d3d3d;
}

.header__text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0.17rem 0 0 2rem;
  font-weight: bold;
  font-size: 2rem;
  color: #ababab;
  font-family: "UnifrakturMaguntia";
  letter-spacing: 0.25rem;
  -webkit-transition: font-size 300ms ease-in-out;
  transition: font-size 300ms ease-in-out;
}

.header__text:hover {
  font-size: 2.1rem;
  color: #bb80e2;
}

.header a {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.header__img {
  padding: 0.95rem 0.75rem 0.75rem 0.75rem;
  width: 5rem;
  border-radius: 6.25rem;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  cursor: pointer;
}

.header__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__nav {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.08rem;
  margin-right: 1.25rem;
}

.header__nav a {
  color: #ececec;
  -webkit-transition: font-size 175ms ease-in-out;
  transition: font-size 175ms ease-in-out;
}

.header__nav a:not(:last-child) {
  margin-right: 1.5rem;
}

.header__nav a:hover {
  color: #bb80e2;
  border-bottom: #bb80e2;
  font-size: 1.15rem;
}

h3.intro {
  padding: 1.8rem;
  margin: 0 auto;
}

.flex-child {
  max-width: 18rem;
}

.error {
  display: block;
  text-align: left;
  margin: 0 auto;
  padding: 3rem 0 0 3rem;
}

.error__btn {
  width: 8rem;
}

.error__txt {
  padding: 0;
}

input[type="email"].is-invalid {
  border: 2px solid red;
}

input[type="email"].is-invalid,
.error {
  color: red;
  margin: 0 auto;
  text-align: left;
}

.error {
  width: 80%;
  padding: 0;
}

.content {
  background-color: #3d3d3d;
  color: #ababab;
}

.content__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 63.9375em) {
  .content__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.content__about, .content__card, .content__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 87.4375em) {
  .content__about, .content__card, .content__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.content__about, .content__card {
  width: 87%;
}

.content__item {
  margin: 6rem auto 0 auto;
}

.content__card {
  padding: 1rem 2rem 2rem 2rem;
  -webkit-box-shadow: -7px -7px 11px rgba(89, 89, 89, 0.35), 12px 12px 18px rgba(53, 53, 53, 0.7);
          box-shadow: -7px -7px 11px rgba(89, 89, 89, 0.35), 12px 12px 18px rgba(53, 53, 53, 0.7);
  border-radius: 0.75rem;
  overflow: hidden;
}

.content__social-icons {
  margin: 6rem 0 0 0;
}

.content__social {
  margin-top: 3rem;
}

.content__social span.content__social-link {
  display: inline-block;
  padding: 3.75rem 2rem 2.5rem 2rem;
}

.content__social__icon {
  padding: 0.25rem;
}

.content__social__link {
  color: #bb80e2;
  -webkit-transition: font-size 150ms ease-in-out;
  transition: font-size 150ms ease-in-out;
}

.content__social__link:hover {
  font-size: 1.055rem;
}

.kb {
  background-color: #333333;
  min-height: 35rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.kb__flex-child {
  width: 80%;
  margin: 0 2.5rem;
}

.kb__builds {
  font-weight: bold;
}

.kb__container {
  text-align: left;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.contact__build-description {
  text-align: left;
  margin: 7rem 0 3rem 0.75rem;
}

@media (min-width: 87.4375em) {
  .contact__build-description {
    margin: 8rem 0 3.75rem 2.5rem;
  }
}

.contact__build-description__heading, .contact__build-description__heading-two, .contact__build-description__text {
  font-weight: normal;
  font-size: 0.9rem;
  font-style: italic;
  padding: 0 1rem;
}

@media (min-width: 87.4375em) {
  .contact__build-description__heading, .contact__build-description__heading-two, .contact__build-description__text {
    font-size: 1.1rem;
    font-style: italic;
  }
}

.contact__build-description__heading-two {
  padding-top: 1rem;
  font-weight: bold;
}

.contact__form-container {
  color: #ababab;
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 0.075rem;
  background-color: #333333;
}

.contact__form {
  margin: 0 auto;
  padding: 3rem;
  background-color: transparent;
}

.contact__form__title {
  font-size: 1.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#66318a), to(#ffffff));
  background: linear-gradient(to right, #66318a, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 63.9375em) {
  .contact__form__title {
    font-size: 2.5rem;
  }
}

.contact__form__header {
  margin: 3rem auto 2rem auto;
  text-transform: uppercase;
}

.contact__submit {
  display: block;
  margin: 1.3rem auto 1.75rem 10%;
  padding: 0.675rem;
  text-align: center;
  font: inherit;
  width: 80%;
  color: #e4e4e4;
  border-radius: 0.85rem;
  -webkit-box-shadow: -5px -5px 9px rgba(89, 89, 89, 0.35), 9px 9px 15px rgba(38, 38, 38, 0.7);
          box-shadow: -5px -5px 9px rgba(89, 89, 89, 0.35), 9px 9px 15px rgba(38, 38, 38, 0.7);
  background-image: -webkit-gradient(linear, left top, right top, from(#66318a), to(#bb80e2));
  background-image: linear-gradient(to right, #66318a, #bb80e2);
}

input[type="text"],
input[type="textarea"],
input[type="email"] {
  margin-bottom: 0.75rem;
  border: none;
  color: #ececec;
  background-color: transparent;
  -webkit-box-shadow: -4px -4px 8px rgba(28, 28, 28, 0.35), 8px 8px 8px rgba(53, 53, 53, 0.7);
          box-shadow: -4px -4px 8px rgba(28, 28, 28, 0.35), 8px 8px 8px rgba(53, 53, 53, 0.7);
  padding: .75rem 0.625rem;
  width: 90%;
  border-radius: 0.4375rem;
  outline: none;
}

@media (min-width: 87.4375em) {
  input[type="text"],
  input[type="textarea"],
  input[type="email"] {
    margin-bottom: 1.5625rem;
  }
}

input[type="text"]:focus,
input[type="textarea"]:focus,
input[type="email"]:focus,
button#submit-form:active {
  -webkit-box-shadow: inset -4px -4px 8px rgba(28, 28, 28, 0.35), inset 8px 8px 8px rgba(53, 53, 53, 0.7);
          box-shadow: inset -4px -4px 8px rgba(28, 28, 28, 0.35), inset 8px 8px 8px rgba(53, 53, 53, 0.7);
}

@media (min-width: 87.4375em) {
  input.half-width {
    width: 37%;
    margin-right: 2rem;
  }
  input.tqtr-width {
    width: 44%;
  }
}

input[type="textarea"] {
  height: 10rem;
  width: 84.15%;
}

::-webkit-input-placeholder {
  font-size: 0.75rem;
  font-weight: 500;
  color: #ababab;
  letter-spacing: 0.08125rem;
}

:-ms-input-placeholder {
  font-size: 0.75rem;
  font-weight: 500;
  color: #ababab;
  letter-spacing: 0.08125rem;
}

::-ms-input-placeholder {
  font-size: 0.75rem;
  font-weight: 500;
  color: #ababab;
  letter-spacing: 0.08125rem;
}

::placeholder {
  font-size: 0.75rem;
  font-weight: 500;
  color: #ababab;
  letter-spacing: 0.08125rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5rem auto 0 auto;
  z-index: 1;
  max-width: 87%;
}

@media (min-width: 87.4375em) {
  .slideshow-container {
    margin: 0.7rem 0 0 4rem;
  }
}

.slideshow-imgs {
  position: relative;
}

/* Hide the images by default */
.slides {
  display: none;
}

.slide-img {
  border-radius: 6%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1.375rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 0.1875rem 0.1875rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.1875rem 0 0 0.1875rem;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dots, .slide-img {
  width: 100%;
  margin: 0 0 0.15rem 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.75rem;
  width: 0.75rem;
  margin: 0.2rem;
  background-color: #BBB;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 3rem;
  background-color: #3d3d3d;
  color: white;
}

.social {
  margin-top: .5rem;
  padding-left: 0.75rem;
}

.social img {
  width: 1.55rem;
}

.footer-img,
svg {
  margin-right: 0.35rem;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.footer-img:hover,
svg:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
/*# sourceMappingURL=styles.css.map */