html, body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

html {
  font-size: 1.35rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ececec;
  text-align: center;
  font-family: "Open Sans";
}

.container {
  max-width: 68rem;
  margin: 0 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

h1,
h2,
h3 {
  color: #606060;
}

hr {
  width: 100%;
  margin: 2rem;
}

p {
  color: #606060;
  line-height: 1.5;
  padding: 0.5rem 1rem;
}

a,
a:visited,
a:hover {
  font-weight: normal;
  text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.border {
  border: 1px solid red;
}

.bold {
  font-weight: bold;
}

.left-align {
  text-align: left;
}

.pall {
  padding-top: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-jc-e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  height: 6rem;
  background-color: #e4e4e4;
}

.header__text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0.17rem 0 0 2rem;
  font-weight: bold;
  font-size: 2rem;
  color: #36454f;
  font-family: "UnifrakturMaguntia", cursive;
  letter-spacing: 0.25rem;
  -webkit-transition: font-size 300ms ease-in-out;
  transition: font-size 300ms ease-in-out;
}

.header__text:hover {
  font-size: 2.1rem;
}

.header a {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.header__img {
  padding: 0.95rem 0.75rem 0.75rem 0.75rem;
  width: 5.75rem;
  border-radius: 6.25rem;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  cursor: pointer;
}

.header__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__nav {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.08rem;
  margin-right: 1.25rem;
}

.header__nav a {
  color: #36454f;
  -webkit-transition: font-size 175ms ease-in-out;
  transition: font-size 175ms ease-in-out;
}

.header__nav a:not(:last-child) {
  margin-right: 1.5rem;
}

.header__nav a:hover {
  color: #bb80e2;
  border-bottom: #bb80e2;
  font-size: 1.15rem;
}

h3.intro {
  padding: 1.8rem;
  margin: 0 auto;
}

.flex-child {
  max-width: 18rem;
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.contactform {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  color: #202035;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.075rem;
}

form {
  top: 52%;
  left: 50%;
  max-height: 75%;
  width: 50%;
  position: absolute;
  border-radius: 0.625rem;
  overflow: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55), 10px 10px 15px rgba(70, 70, 70, 0.12);
          box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55), 10px 10px 15px rgba(70, 70, 70, 0.12);
  padding: 2.5rem 1.25rem;
}

h3 {
  margin-bottom: 1.75rem;
}

h6.contact-header {
  margin-top: 1.5rem;
  margin-bottom: 0.625rem;
  font: inherit;
  text-transform: uppercase;
}

.contact-header#contact-info {
  margin-top: 2.625rem;
}

a.submit,
a.home {
  display: block;
  margin-left: 10%;
  text-align: center;
  font: inherit;
  color: inherit;
  text-decoration: none;
  padding: 0.675rem;
  -webkit-box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55), 10px 10px 15px rgba(70, 70, 70, 0.12);
          box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55), 10px 10px 15px rgba(70, 70, 70, 0.12);
}

a.home {
  position: absolute;
  right: 0;
  width: 4rem;
  height: 4rem;
  font-size: 0.7rem;
  border-radius: 1.875rem;
  margin-bottom: 2rem;
  padding-top: 1.38rem;
  padding-left: 0.8rem;
}

a.submit {
  border-radius: 1.875rem;
  width: 80%;
  margin-top: 1.3rem;
  margin-bottom: 1.75rem;
}

input[type="text"],
input[type="textarea"],
input[type="email"] {
  margin-bottom: 1.5625rem;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.55), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
          box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.55), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  padding: 0.625rem;
  width: 90%;
  border-radius: 0.4375rem;
  outline: none;
}

input.half-width {
  width: 37%;
  margin-right: 2rem;
}

input.tqtr-width {
  width: 44%;
}

input[type="textarea"] {
  height: 15%;
}

::-webkit-input-placeholder {
  font-size: 0.75rem;
  font-weight: 500;
  color: #ababab;
  letter-spacing: 0.08125rem;
}

:-ms-input-placeholder {
  font-size: 0.75rem;
  font-weight: 500;
  color: #ababab;
  letter-spacing: 0.08125rem;
}

::-ms-input-placeholder {
  font-size: 0.75rem;
  font-weight: 500;
  color: #ababab;
  letter-spacing: 0.08125rem;
}

::placeholder {
  font-size: 0.75rem;
  font-weight: 500;
  color: #ababab;
  letter-spacing: 0.08125rem;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  height: 2.5rem;
  width: 7.5rem;
  -webkit-box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55), 10px 10px 15px rgba(70, 70, 70, 0.12);
          box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55), 10px 10px 15px rgba(70, 70, 70, 0.12);
  border: 5px solid #ececec;
  border-radius: 1.875rem;
  font: inherit;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:after {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #606060;
  letter-spacing: 0.03125rem;
}

#phone:after {
  content: "Phone";
}

#email:after {
  content: "Email";
}

input[type="radio"]:checked,
a:active {
  -webkit-box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55), 10px 10px 15px rgba(70, 70, 70, 0.12), inset -10px -10px 15px rgba(255, 255, 255, 0.55), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
          box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55), 10px 10px 15px rgba(70, 70, 70, 0.12), inset -10px -10px 15px rgba(255, 255, 255, 0.55), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

input[type="radio"]:checked:after {
  color: #ff1493;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.content__about {
  margin: 6rem auto auto auto;
}

.content__about, .content__card {
  width: 87%;
  height: 36rem;
}

.content__item {
  margin: 5rem auto 6.5rem auto;
}

.content__card {
  padding: 1rem 2rem 2rem 2rem;
  -webkit-box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55), 10px 10px 15px rgba(70, 70, 70, 0.12);
          box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55), 10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 0.75rem;
  overflow: hidden;
}

.content__social-icons {
  margin: 6rem 0 0 0;
}

.content__social {
  margin-top: 3rem;
}

.content__social span.content__social-link {
  display: inline-block;
  padding: 3.75rem 2rem 2.5rem 2rem;
}

.content__social__icon {
  padding: 0.25rem;
}

.content__social__link {
  color: #bb80e2;
  -webkit-transition: font-size 150ms ease-in-out;
  transition: font-size 150ms ease-in-out;
}

.content__social__link:hover {
  font-size: 1.055rem;
}

.kb__flex-child {
  width: 50%;
  margin: 0 0.5rem;
}

.kb__builds {
  font-weight: bold;
}

.kb__container {
  text-align: left;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.7rem 0 0 4rem;
  z-index: 1;
}

.slideshow-imgs {
  width: 33rem;
  position: relative;
}

/* Hide the images by default */
.slides {
  display: none;
}

.slide-img {
  border-radius: 6%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1.375rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 0.1875rem 0.1875rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.1875rem 0 0 0.1875rem;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dots, .slide-img {
  width: 100%;
  margin: 0 0 0.15rem 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.75rem;
  width: 0.75rem;
  margin: 0.2rem;
  background-color: #BBB;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 3rem;
  background-color: #e4e4e4;
  color: white;
}

.social {
  margin-top: .5rem;
  padding-left: 1.2rem;
}

.social img {
  width: 1.55rem;
}

.footer-img,
svg {
  margin-right: 0.95rem;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.footer-img:hover,
svg:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
/*# sourceMappingURL=styles.css.map */